DATABASE_URL=postgresql://usr:pwd@url:port/db
POSTGRES_USER=usr
POSTGRES_PASSWORD=pwd
POSTGRES_DB=db

APP_NAME=Seazone API
APP_VERSION=1.0.0
DEBUG=True
HOST=0.0.0.0
PORT=8000


CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]